@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark-gray: 0 0% 25%;
    --color-teal: 188 47% 53%;
    --color-light-gray: 0 0% 85%;
    --color-smoke-white: 0 0% 95%;
    --color-medium-gray: 0 0% 50%;
    --color-dark-teal: 188 47% 40%;
    --color-black: 0 0% 0%;
  
    --background: var(--color-light-gray);
    --foreground: var(--color-black);
    --card: var(--color-smoke-white);
    --card-foreground: var(--color-black);
    --popover: var(--color-light-gray);
    --popover-foreground: var(--color-black);
    --primary: var(--color-teal);
    --primary-foreground: var(--color-black);
    --secondary: var(--color-dark-teal);
    --secondary-foreground: var(--color-black);
    --muted: var(--color-medium-gray);
    --muted-foreground: var(--color-black);
    --accent: var(--color-dark-teal);
    --accent-foreground: var(--color-light-gray);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--color-light-gray);
    --border: var(--color-dark-gray);
    --input: var(--color-dark-gray);
    --ring: var(--color-teal);
  }
  
  .dark {
    --background: var(--color-dark-gray);
    --foreground: var(--color-light-gray);
    --card: var(--color-black);
    --card-foreground: var(--color-light-gray);
    --popover: var(--color-dark-gray);
    --popover-foreground: var(--color-light-gray);
    --primary: var(--color-teal);
    --primary-foreground: var(--color-black);
    --secondary: var(--color-dark-olive);
    --secondary-foreground: var(--color-light-gray);
    --muted: var(--color-medium-gray);
    --muted-foreground: var(--color-light-gray);
    --accent: var(--color-dark-olive);
    --accent-foreground: var(--color-light-gray);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--color-light-gray);
    --border: var(--color-medium-gray);
    --input: var(--color-medium-gray);
    --ring: var(--color-teal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}